<!doctype html>
<html>

<!-- Created by Stefan Teslic 2017/0124-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Login</title>

    <!-- Scripts -->
    <!-- Izbrisao sam pozivanje app.js ovde jer nije radio logout -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
    <!-- include VueJS first -->
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <script src="js/app.js" defer></script>
    <script src="https://kit.fontawesome.com/662634c78e.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="css/app.css" rel="stylesheet">

    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/mojeankete.css" rel="stylesheet">
    <link href="css/statistikaankete.css" rel="stylesheet">


</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="landing.html">

                    eSrbija

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                            <li class="nav-item">

                                <a class="nav-link" href="login.html">Logovanje</a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="userRegister.html">Registracija korisnika
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="moderatorRegister.html">Registracija moderatora</a>

                                </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Registracija korisnika</div>

                <div class="card-body">
                    <form method="POST" action="views/newhomepages/obavestenja.html">
                       

                        <!-- Ime -->
                        <div class="form-group row">
                            <label for="ime" class="col-md-4 col-form-label text-md-right">Ime</label>

                            <div class="col-md-6">
                                <input id="ime" type="text" class="form-control " name="ime"  required autocomplete="ime" autofocus>

                                
                            </div>
                        </div>

                        <!-- Prezime -->
                        <div class="form-group row">
                            <label for="prezime" class="col-md-4 col-form-label text-md-right">Prezime</label>

                            <div class="col-md-6">
                                <input id="prezime" type="text" class="form-control" name="prezime" required autocomplete="prezime" autofocus>

                                
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-mail adresa</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control " name="email"  required autocomplete="email">

                               
                            </div>
                        </div>

                         <!-- Datum rodjenja -->
                        <div class="form-group row">
                            <label for="rodjendan" class="col-md-4 col-form-label text-md-right">Datum rodjenja</label>

                            <div class="col-md-6">
                                <input id="rodjendan" type="date" class="form-control" name="rodjendan" required autocomplete="rodjendan" autofocus>

                                
                            </div>
                        </div>

                        <!-- Opstina prebivalista -->
                        <div class="form-group row">
                            <label for="prebivaliste" class="col-md-4 col-form-label text-md-right">Opstina prebivalista</label>

                            <div class="col-md-6">
                                <div id="selectMunicipalityContainer" >
                                    <v-select :options="muncipalities"  v-model="selected" >
                                        <template >
                                            <input
                                                class="vs__search"
                                                :required="!selected"
                                               

                                               >
                                        </template>
                                    </v-select>
                                   
                                </div>


                            </div>
                        </div>
                        <!-- Opstina rodjenja -->
                        <div class="form-group row">
                            <label for="rodjenje" class="col-md-4 col-form-label text-md-right">Opstina rodjenja</label>

                            <div class="col-md-6">
                                <div id="muncipalityContainer">
                                    <v-select :options="muncipalities" v-model="selected">
                                        <template >
                                            <input
                                                class="vs__search"
                                                :required="!selected"
                                                
                                                id="livingMuncipality">
                                        </template>
                                    </v-select>
                                   
                                </div>


                           
                            </div>
                        </div>

                        <!-- Adresa prebivalista -->
                        <div class="form-group row">
                            <label for="adresaPrebivalista" class="col-md-4 col-form-label text-md-right">Adresa prebivalista</label>

                            <div class="col-md-6">
                                <input id="adresaPrebivalista" type="address" class="form-control" name="adresaPrebivalista" required >

                              
                            </div>
                        </div>
                        <!-- JMBG -->
                        <div class="form-group row">
                            <label for="JMBG" class="col-md-4 col-form-label text-md-right">JMBG</label>

                            <div class="col-md-6">
                                <input id="JMBG" type="text" class="form-control" name="JMBG" required >

                            
                            </div>
                        </div>

                        <!-- Pol -->
                        <div class="form-group row">
                            <label for="pol" class="col-md-4 col-form-label text-md-right">Pol</label>

                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pol" id="muski" value="m">
                                    <label class="form-check-label" for="Muski">
                                        Muski
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pol" id="zenski" value="z">
                                    <label class="form-check-label" for="Zenski">
                                        Zenski
                                    </label>
                                </div>
                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="brojLicne" class="col-md-4 col-form-label text-md-right">Broj licne karte</label>

                            <div class="col-md-6">
                                <input id="brojLicne" type="text" class="form-control " name="brojLicne" required>

                                
                            </div>
                        </div>


                            <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Lozinka</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password">

                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Ponovi lozinku</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                   Registruj se
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)

    new Vue({
        el: '#selectMunicipalityContainer',
        data: {
            selected: '',
            muncipalities: ['Subotica', 'Beograd', 'Novi Sad']
        }
    })
    new Vue({
        el: '#muncipalityContainer',
        data: {
            selected: '',
            muncipalities: ['Subotica', 'Beograd', 'Novi Sad']
        }
    })
</script>
        </main>
    </div>
</body>
</html>
